.integracao_uau h1 {
  color: #605e5e;
  text-align: center;
  font-size: 3.125rem;
  line-height: 3.25rem;
  font-weight: bold;
  text-transform: uppercase;
}
.integracao_vantagens {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 0px;
  gap: 50px;
  align-items: flex-start;
}
.integracao_vantagens p,
.integracao_vantagens h3 {
  color: #605e5e;
  padding: 5px 0px;
}
.integracao_vantagens p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  text-align: left;
}
.integracao_vantagens h3 {
  font-size: 1.5rem;
  font-weight: 400px;
}
.fa-rabbit-running,
.fa-shield-check,
.fa-laptop-mobile,
.fa-house-lock {
  color: #ff7700;
  margin-right: 10px;
  font-size: 1.563rem;
}

/* mobile  */
@media (max-width: 1000px) {
  .integracao_uau h1 {
    font-size: 2.5rem;
  }
  .integracao_vantagens {
    gap: 30px;
  }
}
@media (max-width: 900px) {
  .integracao_vantagens {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .integracao_vantagens p,
  .integracao_vantagens h3 {
    text-align: center;
  }
}
@media (max-width: 800px) {
  .integracao_uau {
    padding-top: 50px;
  }
  .integracao_vantagens {
    padding-bottom: 0px;
  }
}
@media (max-width: 600px) {
  .integracao_vantagens {
    grid-template-columns: 1fr;
  }
  .integracao_vantagens p {
    margin: 0 auto;
    max-width: 40ch;
  }
}
@media (max-width: 450px) {
  .integracao_uau h1 {
    font-size: 1.875rem;
  }
  .integracao_uau h3 {
    font-size: 1.25rem;
  }
}
